@charset "UTF-8";


.f-left{
	float : left;
	width : 105px;
}

/* main-body */
#main-body {
	margin : 0px 0px 0px 0px;
}

#main-body div{
	margin : 0px 0px 10px 0px;
}
.main-body-title {
	display : inline-block;
	width : 100px;
	margin : 0px 10px 10px 0px;
}

#address{
	width : 68%;
}


/* inputs */


input[type = "radio"]{
	width : 15px;
	height : 15px;
	margin : 0px 20px 0px 5px;
}

input[type = "checkbox"]{
	width : 15px;
	height : 15px;
	margin : 0px 20px 0px 5px;
}


/* introduce */

textarea{
	width : 70%;
	height : 70px;
}

/* main-footer */

#main-footer button{
	text-align : center;
	width : 60px;
	height : 30px;
	margin: 0px 5px 0px 5px;
}




