@charset "UTF-8";

/* aside start */
aside{
	float : left;
}

aside>h2{
	background-color : #CDCDCD;
	width : 90px;
	height : 40px;
	font-size : 20px;
	margin : 20px 0px 5px 0px;
	padding : 20px 20px 10px 50px;
}

aside>ul>li{
	border : 1px solid #000000;
	margin : 0px 0px 5px 0px;
	padding : 5px 0px 5px 5px;
}

/* aside end */

/* main start */
main {
	margin : 20px 0px 0px 180px;
}

/* title setting */
.title{
	border-bottom : 1px solid #000000;
	height : 60px;
	margin : 0px 0px 20px 0px;
}

h3 {
	float : left;
	margin : 25px 0px 0px 0px;
}

/* breadcrumb */
.title ol>li{
	float : right;
	font-size : 12px;
	margin : 25px 2px 0px 2px;
}

.title ol>li+li:after{
	content : " > ";
}

/* reserach button */

.research{
	display : block;
	float : right;
	margin : 0px 0px 10px 580px;
	}

.text-search{
	padding : 3px 0px 3px 0px;
}

.search-button{
	padding : 2px 15px 2px 15px;
}

/* table */
.bulletin-table{
	display : block;
}

table{
	margin : 10px 0px 0px 0px;
	border-top : 1px solid #BFBFBF;
	border-bottom : 1px solid #BFBFBF;
}

/* thead */
thead{
	background-color : #CDCDCD;
}

thead>tr>th{
	padding : 7px 0px 7px 0px;
}

/* tbody */
tbody{
	text-align : center;
}

tbody tr{
	border-bottom : 1px dotted #BFBFBF;
}

tbody>tr>td{
	padding : 5px 0px 5px 0px;
}

/* page links */
.pages{
	width : 300px;
	float : left;
	margin : 0px 0px 0px 250px;
}

.pages ol>li{
	float : left;
	margin : 5px 5px 0px 5px;
	
}

/* page a-link */

.pages ol>li>a:hover{
	color: #79B30B; text-decoration: none; 
}


/* write button */
.bottom-line{
	width : 0px;
}

.write{
	display : block;
	width : 75px;
	float : right;
	
}

.write-button{
	margin : 10px 0px 20px 0px;
	padding : 2px 15px 2px 15px;
}
/* main end */

















